/* -----GLOBAL SELECTORS */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}


html {
    background-color: #dcdde1;
}

html, body {
    width: 100%;
}

body {
    line-height: 1.6;
}

.article-title {
    margin: 10px;
    /* border: 1px solid black; */
}

/* -----wrapper-2 (Services)----- */
i {
    display: flex;
    align-items: baseline;
    font-size: 40px;
    border: 1px solid black;
}

.wrapper-1 {
    display: flex;
    border: 1px solid black;
}

.wrapper-1 {
    display: flex;
    flex-direction: row;
}

.wrapper-1 > div {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    padding: 15px;
    border: 1px solid black;
}
 
.wrapper-2 {
    display: flex;
    border: 1px solid black;
}

.wrapper-2 {
    display: flex;
    flex-direction: row;
}

.wrapper-2 > div {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    padding: 15px;
    border: 1px solid black;
}

/* -----Container-3 (contact-form)----- */
.container-3 {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin: 10px;
    padding: 10px;
}

.container-3 form {
    display: flex;
    flex-direction: column;
}

/* ------CONTAINER-4----- */
.container-4 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.contact-box {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.contact-us-header {
    /* border: 1px solid black; */
    margin: 10px;
    display: flex;
    justify-content: center;
}

.info-box {
    margin: 10px;
}
